dbtVersion: 0.20.1
jobs:
  - name: Every 6 hours run project models
    schedule: '0 */6 * * *'
    steps:
      - name: Run project models
        command: dbt run --models dbt_demo_project
  - name: Every day run Pinterest Fivetran project models
    schedule: '0 1 * * *'
    steps:
      - name: Run Pinterest models
        command: dbt run --models fivetran/pinterest